@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: hsl(0, 0%, 93%);
    --primary-color-darker: hsl(0, 0%, 10%);
    --primary-color-darker-2: hsl(0, 6%, 10%);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    --transition: all 0.4s linear;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    background: linear-gradient(to right top, var(--primary-color), var(--primary-color-darker));
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    background: #fff;
    min-height: 80vh;
    /* width: 80%; */
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.1));
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(0.2rem);
    transition: all 0.5s linear;
    position: relative;
    z-index: 2;
}

.container:hover {
    backdrop-filter: blur(1rem);
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
}

.circle1, .circle2 {
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    height: 20rem;
    width: 20rem;
    top: 10%;
    left: 7%;
}

.circle2 {
    height: 17rem;
    width: 17rem;
    bottom: -27%;
    right: 11%;
}

h1 {
    color: var(--primary-color-darker-2);
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-align: center;
    opacity: 0.8;
}

/* FORM RULES*/

.form-rules {
    display: flex;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.form-rules li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.form-rules li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: var(--primary-color-darker);
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.form-rules ul {
    margin: 10px;
    padding-left: 1.2REM;
}

/* FORM */

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    }

 form label {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
    }

 form input {
    font-size: 1.3rem;
    height: 40px;
    padding: 0 20px;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    border: none;
    border-radius: 0.3rem;
 }

 form input:focus {
     outline: 0.05em solid var(--primary-color-darker);
 }

 form button {
    border: none;
    border-radius: 0.3rem;
    /* background: var(--primary-color-darker); */
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    color: var(--primary-color-darker-2);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker-2);
    color: #fff;
    transition: var(--transition);
}

/* ERR MESSAGE */

.err-message {
    font-size: 0.8rem;
    color: rgb(209, 32, 32);
}

footer {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-weight: 500;
}

/* MODAL */

.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0.3rem);
}

.modal-container.active {
    display: flex;
}

.modal {
    background: white;
    width: 40%;
    height: 33%;
    min-width: 300px;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255,255,255, 0.6));
    backdrop-filter: blur(2rem);
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0px;
    background: transparent;
    cursor: pointer;
    /* box-shadow: var(--light-shadow); */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color-darker);
}

.close:hover {
    box-shadow: inset 3px 5px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.1s linear;
}
